// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'reset';

$c-sidebar-bckgrnd: rgb(23, 20, 31);
$c-search-border: rgb(125, 91, 190);
$c-search-bckgrnd: rgb(32, 28, 43);
$c-search-text: rgb(123, 117, 137);
$c-navlist-text: rgb(229, 227, 232);
$c-navlist-bckgrnd-hover: rgb(32, 28, 43);
$c-twitch-active: rgb(100, 65, 164);

.section {
  display: flex;
}

.main-content {
  padding: 1rem;
  overflow: scroll;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 11rem;
  width: 20%;
  height: 100vh;
  background: $c-sidebar-bckgrnd;

  &__logo {
    justify-content: center;
    height: 2rem;
    margin: 1rem 0;
  }

  &__search {
    justify-content: center;
    border: 0.1rem solid $c-search-border;
    background: $c-search-bckgrnd;
    color: $c-search-border;
    margin: 0.5rem 1.2rem;

    :focus{
    outline: none;
    }

    &--icon {
      color: $c-navlist-text;
      margin-left: 0.3rem;
      font-size: 0.2rem;
    }

    &--box {
      padding: 0.4rem 0 0.2rem 0;
      border: 0;
      background: $c-search-bckgrnd;
      color: $c-search-text;
    }
  }

  &__navlist {
    color: $c-navlist-text;

    &--group {

      display: flex;
      align-items: center;
      padding: 0.5rem 1.2rem;

      &:hover {
        background: $c-navlist-bckgrnd-hover;
      }
    }

    &--icons {
      margin-right: 1rem;
      font-size: 5rem;
    }

    &--item {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}

.channel {
  color: $c-navlist-text;
  padding: 0.5rem 1.2rem;

  &__main-heading {
    font-size: 0.7rem;
  }

  &__pic {
    height: 2rem;
  }

  &__item {
    display: flex;
    padding: 0.5rem 0;
  }

  &__info {
    padding-left: 0.5rem;
  }

  &__heading {
    font-size: 0.8rem;
    margin: 0;
  }

  &__streaming {
    font-size: 0.5rem;
    margin: 0;
  }
}

.active {
  border-left: 0.2rem solid $c-twitch-active;
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
  justify-content: center;
}

.directory {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.game-item {
  flex-basis: calc(100% / 4 - 2rem);
  padding: 0.5rem;
  min-width: 10rem;
  max-width: 15rem;

  &__name {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }

  &__popularity {
    font-size: 0.7rem;
    margin: 0.3rem 0;
  }
}

.options {
  color: $c-navlist-text;
  padding: 0.5rem 1.2rem;

  &__divider {
    color: $c-twitch-active;
  }

  &__heading {
    font-size: 0.7rem;
  }

  &__list {
    padding-right: 1rem;
  }

  &__list-item {
    font-size: 0.6rem;
  }
}

.lists {
  display: flex;
}

.divider {
  color: $c-search-border;
}
