.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 11rem;
  width: 20%;
  height: 100vh;
  background: $c-sidebar-bckgrnd;
  overflow: scroll;

  &__logo {
    justify-content: center;
    height: 2rem;
    margin: 1rem 0;
  }

  &__search {
    justify-content: center;
    border: 0.1rem solid $c-search-border;
    background: $c-search-bckgrnd;
    color: $c-search-border;
    margin: 0.5rem 1.2rem;

    :focus{
    outline: none;
    }

    &--icon {
      color: $c-navlist-text;
      margin-left: 0.3rem;
      font-size: 0.2rem;
    }

    &--box {
      padding: 0.4rem 0 0.2rem 0;
      border: 0;
      background: $c-search-bckgrnd;
      color: $c-search-text;
    }
  }

  &__navlist {
    color: $c-navlist-text;

    &--group {

      display: flex;
      align-items: center;
      padding: 0.5rem 1.2rem;

      &:hover {
        background: $c-navlist-bckgrnd-hover;
      }
    }

    &--icons {
      margin-right: 1rem;
      font-size: 5rem;
    }

    &--item {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}

.channel {
  color: $c-navlist-text;
  padding: 0.5rem 1.2rem;

  &__main-heading {
    font-size: 0.7rem;
  }

  &__pic {
    height: 2rem;
  }

  &__item {
    display: flex;
    padding: 0.5rem 0;
  }

  &__info {
    padding-left: 0.5rem;
  }

  &__heading {
    font-size: 0.8rem;
    margin: 0;
  }

  &__streaming {
    font-size: 0.5rem;
    margin: 0;
  }
}

.active {
  border-left: 0.2rem solid $c-twitch-active;
}





.options {
  color: $c-navlist-text;
  padding: 0.5rem 1.2rem;

  &__divider {
    color: $c-twitch-active;
  }

  &__heading {
    font-size: 0.7rem;
  }

  &__list {
    padding-right: 1.5rem;
  }

  &__list-item {
    font-size: 0.6rem;
    padding: 0.3rem 0;
    color: $c-search-text;
  }
}

.lists {
  display: flex;
}

.divider {
  color: $c-search-border;
}

.buttons {
  background: $c-sidebar-bckgrnd;
  position: absolute;
  bottom: 0;
  padding: 0.5rem 1rem;
  display: flex;

  &__btn {
    background: $c-twitch-active;
    color: $c-navlist-text;
    border: 0;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
  }
}
